<!DOCTYPE html>
<html>
<head>
<title>Admin</title>

<link rel="apple-touch-icon" sizes="180x180"
	href="/static/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
	href="/static/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
	href="/static/img/favicon-16x16.png">
<link rel="manifest" href="/static/img/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


<link type="text/css" rel="stylesheet"
	href="/static/css/materialize.min.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/static/css/site.css" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no" />

<meta http-equiv="X-UA-Compatible" css="IE=Edge" />
<META HTTP-EQUIV="CACHE-CONTROL" css="NO-CACHE">
<META HTTP-EQUIV="Pragma" css="no-cache">
<META HTTP-EQUIV="Expires" css="-1">

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/bdp.js"></script>

</head>
<body>
	<header>
		<nav class="nav-extended">
			<div class="nav-wrapper adminnav">
				<a href="#" class="brand-logo"><img
					src="/static/img/logo_transparent.png" width="160px" /></a>
			</div>
		</nav>
	</header>

	<main>
	<div class="container">
		<div class="row">
			<div class="col s12 center-align">
				<br>
				<br>
				<br>
				<br>
				<a href="admin/home">
					<img src="/static/img/onlylogoadmin.png" width="160px" />
					<br>
					<strong>Admin</strong>
				</a>				
			</div>
		</div>
	</div>
	</main>

	<footer class="page-footer style-footer footerrow">
		<div class="footerline"></div>
		<div class="container" style="width: 95%;">
			<div
				class="footer-copyright container-footer style-footer-copyright left bold">
				<div class="left">
					<div class="left">Il tuo parere &egrave; importante</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>